[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cvcrand"]
	path = cvcrand
	url = https://github.com/hengshiyu/cvcrand
[submodule "geeCRT"]
	path = geeCRT
	url = https://github.com/hengshiyu/geecrt
